
<!-- Creation date: 08/04/2018 
	Author: Josue David Arce Gonzalez
	Description: Component Main View 
-->

<div class="container_table mat-elevation-z8">
	
	<h3>Componentes</h3>

	<mat-tab-group>
	  <mat-tab label="Listado">
			<view-component></view-component>
	  </mat-tab>
<!-- 
	  <mat-tab label="Agregar">
		<add-component></add-component>
	  </mat-tab>

	  <mat-tab label="Eliminar">
		<delete-component></delete-component>
	  </mat-tab>

	  <mat-tab label="Editar">
		<edit-component></edit-component>
	  </mat-tab> -->


	</mat-tab-group>
</div> 




